@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="card shadow-lg p-3 m-1">
        <h1 class="display-4">Selamat Datang</h1>
        <h2 class="p-3">Hello Yoga, have a nice day :)</h2>
    </div>
</div>
