@{
    ViewData["Title"] = "Information";
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1><br />
    <div class="card shadow p-3">
        <h1>Na Annisa Rizky Mulya</h1>
        <table align="center">
            <tr">
                <td>Usia</td>
                <td>:</td>
                <td>66 Tahun</td>
            </tr>
        </table>
        
        <p>wujudin marga NA</p>
    </div>
</div>


